.box {
    height: 200px;
    width: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conWarp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box>* {
    text-align: center;
}

.warpIpt {
    display: flex;
    height: 40px;
}

.ipt1 {
    border: none;
    height: 30px;
    width: 260px;
}
.ipt2 {
    border: none;
    height: 30px;
    width: 260px;
}

.count {
    width: 16px;
    height: 20px;
    background: url(../assets/2.jpg) no-repeat;
}

.key {
    width: 16px;
    height: 20px;
    background: url(../assets/1.jpg) no-repeat;
}

.keyEye {
    width: 16px;
    height: 20px;
    background: url(../assets/3.jpg) no-repeat;
}

.login {
    background-color: #1890ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    width: 300px;
}